librosa
stable-baselines3[extra]
torch
torchaudio
scikit-learn
matplotlib
numpy
tqdm
gymnasium
sb3-contrib
transformers
shap
shimmy
optuna
SpeechRecognition
seaborn
pydub
flask
Pillow
ffmpeg-python
werkzeug
psutil
